@import './variables';
@import './mixis';

.about {
  border: 0.1px solid rgb(221, 219, 219);
  width: 100vw;
  height: 100vh;
  background: $color-secondary;
  display: flex;
  align-items: center;
}

.my-container-about {
  box-sizing: border-box;
  width: 100%;
  height: 57vh;
  border-left: 3.2rem solid $color-brand;
  @include my-text;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.3rem 0;
}

.my-h2 {
  width: 64vw;
  height: 27%;
  margin-bottom: 4.4rem;
  color: black;
  display: flex;
  flex-direction: column;

  @include my-h2;
  span {
    @include my-h2;
    color: $color-brand;
  }
}

.my-paragraph {
  width: 64vw;
  height: 100%;
  @include text-about;
}
