@import './variables';
@import './mixis';

.products {
  border: 0.1px solid rgb(221, 219, 219);
  background: $bg-gradient;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-container-products {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-img-products {
  height: 70%;
  background-image: url("../../Assets/images/section3-image.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.my-slider-products {
  background-color: $color-brand;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-content {
  height: 78%;
  width: 80%;
  display: flex;
  
  flex-direction: column;
}

.products-subtitle {
  @include my-text;
}

.products-h2 {
  @include h2-products;
}

.products-p {
  margin-top: 2rem;
  @include text-products;
  align-self: center;
}

.products-arrows {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  img{
    margin-left: 1.5rem;
  }
}

.imgSlider{
  max-width: 18%;
  align-self: center;
  opacity: 0.8;
}