/* ---------  Colors ---------- */

$color-brand: #E0752F ;
$color-secondary: #FFFFFF;
$color-terciary: #000000;
$color-form: #5F6368;
$color-h2: #343434;
$color-footer: #DCE1DA;


/* --------- Backgrounds Colors ---------- */


$bg-color: #DCE1DA;
$bg-gradient: linear-gradient(to right, #F2F4F1, #F2F4F1 71%, #DCE1DA 71%);


/* --------- Font Sizes ---------- */

$font-size16px: 1.6rem;
$font-size39px: 3.9rem;
$font-size48px: 4.8rem;

$letter-spac22px: 0.22rem;
$letter-spac55px: 0.55rem;
$letter-spac67px: 0.67rem;

$line-height21px: 2.1rem;
$line-height28px: 2.8rem;
$line-height45px: 4.5rem;
$line-height48px: 4.8rem;
$line-height59px: 5.9rem;




